<h1>Exercises for <%= @course.course%> - <%= @part.title %></h1>

<% @part.exercises.each do |exercise| %>
  <div><%= link_to exercise.title, exercise_path(exercise) %></div>
<% end %>

<%= link_to "Add exercise", new_exercise_path(@part) %>
